.navBar {
    background-color: black;
    color:white;
    padding:10px;
}

.navBar{
    list-style: none;
    display: flex;
}

.nav-item {
    margin-right: 20px;

}

nav-item a {
    text-decoration: underline;
    color: white;
}

.Btn{
    width:20px;
    height:20px;
    background-color: purple;
    
}